/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}

hr {
    clear:both;
}

ul#images {
	list-style-type: none;
  	display: block;
}

ul#images .placeholder {
	color: #3F51B5;
  	width: 100%;
  	font-size: 2em;
 	margin: 2em;
}

#images li {
  	height: 400px;
	width: 400px;
	overflow: auto;
  	padding: 50px;
  	margin-bottom: 30px;
}

.image-title {
  color: black;
  font-size: 150%;
  font-weight: bold;
}

